{{set . "title" "Hello page"}}
{{template "header.html" .}}

<header>
<nav>
    <div class="nav-wrapper">
        <div class="col s12 hide-on-med-and-down">
            <a href="/" class="breadcrumb ">HOME</a>
            <a href="/TitleRegister" class="breadcrumb">Display</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/IsbnRegister">ISBN</a></li>
                <li><a href="/TitleRegister">Title</a></li>
                <li><a href="/Display">Display</a></li>
            </ul>
        </div>
    </div>
    <!-- Dropdown Trigger -->
</nav>
</header>
<div class="card-panel teal lighten-2 center"><h1>DB表示</h1></div>

<form action="/DbSearch" method="GET">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" name="word" /><br/>
                    <label for="autocomplete-input">実践パケット解析</label>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <a class="waves-effect waves-light btn center"><i class="material-icons left">cloud</i><input type="submit" value="検索"></a>
    </div>
</form>

    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Date</td>
                <td>ISBN13</td>
                <td>Image</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{range .books}}
            <tr>
                <td>{{.Title}}</td>
                <td>{{.Author}}</td>
                <td>{{.Date}}</td>
                <td>{{.Isbn}}</td>
                <td><image src="{{.Image}}"/></td>
                <td><a href="/DeletePost?isbn={{.Isbn}}">削除</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>

{{template "footer.html" .}}
