{{set . "title" "Home"}}
{{template "header.html" .}}

<header>
<nav>
    <div class="nav-wrapper">
        <div class="col s12 hide-on-med-and-down">
            <a href="/" class="breadcrumb ">HOME</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/IsbnRegister">ISBN</a></li>
                <li><a href="/TitleRegister">Title</a></li>
                <li><a href="/Display">Display</a></li>
            </ul>
        </div>
    </div>
    <!-- Dropdown Trigger -->
</nav>
</header>

<div class="card-panel teal lighten-2 center"><h1>以下の書籍が登録されました!</h1></div>

<ul class="collection">
    <li class="collection-item">{{ .title }}</li>
    <li class="collection-item">{{ .author }}</li>
    <li class="collection-item">{{ .date }}</li>
    <li class="collection-item">{{ .isbn13 }}</li>
    <li class="collection-item"><img src="{{ .image }}"></li>
</ul>

{{template "footer.html" .}}
